{
    "parser": "babel-eslint",
    "env": {
        "browser": false,
        "node": true,
        "es6": true
    },
    parserOptions: {
        "ecmaVersion": 8,
        "sourceType": "module",
        "ecmaFeatures": {
            "blockBindings": true,
            "forOf": true,
            "generators": true,
            "modules": true,
            "impliedStrict": false
        }
    },
    "plugins": [
        "ava",
        "flowtype",
        "async-await"
    ],
    "settings": {
        "flowtype": {
            "onlyFilesWithFlowAnnotation": true
        }
    },
    "rules": {
        "indent": [2, 4],
        "camelcase": 2,
        "comma-spacing": 2,
        "comma-dangle": [2, "never"],
        "dot-notation": 2,
        "eol-last": 2,
        "new-cap": 2,
        "key-spacing": [2, { "beforeColon": false, "afterColon": true }],
        "no-var": 2,
        "no-alert": 2,
        "no-mixed-requires": 2,
        "no-undef": 2,
        "no-underscore-dangle": 0,
        "no-unused-vars": 0,
        "no-trailing-spaces": 2,
        "no-use-before-define": [2, { "functions": true, "classes": true }],
        "no-div-regex": 2,
        "no-else-return": 2,
        "no-empty-pattern": 2,
        "no-eq-null": 2,
        "no-eval": 2,
        "no-implied-eval": 2,
        "no-extend-native": 2,
        "no-extra-bind": 2,
        "no-floating-decimal": 2,
        "no-implicit-coercion": 2,
        "no-invalid-this": 2,
        "no-iterator": 2,
        "no-labels": 2,
        "no-lone-blocks": 2,
        "no-loop-func": 2,
        "no-magic-numbers": 2,
        "no-multi-spaces": [0, { "exceptions": { "Property": true, "ImportDeclaration": true, "VariableDeclarator": true } }],
        "no-multi-str": 2,
        "no-native-reassign": 2,
        "no-new-func": 2,
        "no-new-wrappers": 2,
        "no-new": 2,
        "no-param-reassign": 2,
        "no-proto": 2,
        "no-redeclare": 2,
        "no-return-assign": 2,
        "no-return-await": 2,
        "no-script-url": 2,
        "no-self-compare": 2,
        "no-sequences": 2,
        "no-throw-literal": 2,
        "no-unused-expressions": 2,
        "no-undefined": 1,
        "no-useless-call": 2,
        "no-useless-concat": 2,
        "no-shadow": 2,
        "no-empty-character-class": 1,
        "no-extra-semi": 2,
        "semi-spacing": ["error", {"before": false, "after": true}],
        "no-void": 2,
        "no-warning-comments": [1, { "terms": ["todo", "fixme", "workaround", "fix:"], "location": "anywhere" }],
        "no-with": 2,
        "no-console": 0,
        "no-caller": 0,
        "space-in-parens": [2, "never"],
        "radix": 2,
        "handle-callback-err": 2,
        "space-infix-ops": 2,
        "vars-on-top": 2,
        "wrap-iife": 0,
        "complexity": [1, { "max": 7 }],
        "consistent-return": 2,
        "curly": 2,
        "default-case": 2,
        "eqeqeq": 2,
        "guard-for-in": 2,
        "strict": 0,
        "quotes": [2, "single", { "avoidEscape": true }],
        "quote-props": 0,
        "semi": 2,
        "accessor-pairs": 2,
        "no-dupe-keys": 2,
        "max-len": [0, { "code": 120, "comments": 120 }],
        "flowtype/define-flow-type": 1,
        "flowtype/use-flow-type": 1,
        "flowtype/valid-syntax": 1,
        "ava/assertion-arguments": 2,
        "ava/assertion-message": [0, "always"],
        "ava/max-asserts": [0, 5],
        "ava/no-cb-test": 0,
        "ava/no-identical-title": 2,
        "ava/no-ignored-test-files": 2,
        "ava/no-invalid-end": 2,
        "ava/no-only-test": 0,
        "ava/no-skip-assert": 2,
        "ava/no-skip-test": 2,
        "ava/no-statement-after-end": 2,
        "ava/no-todo-test": 1,
        "ava/no-unknown-modifiers": 2,
        "ava/prefer-power-assert": 0,
        "ava/test-ended": 2,
        "ava/test-title": [2, "if-multiple"],
        "ava/use-t-well": 2,
        "ava/use-t": 2,
        "ava/use-test": 2,
        "ava/use-true-false": 2,
        "async-await/space-after-async": 2,
        "async-await/space-after-await": 2
    }
}
