.DS_Store
.codekit-cache
frontend/app/storage/attachments/*
frontend/_ide_helper.php
frontend/node_modules
frontend/public/css
frontend/public/js
Thumbs.db
frontend/npm-debug.log
frontend/deploy/apache.conf