[submodule "service-users"]
	path = service-users
	url = https://github.com/paperworkco/service-users.git
[submodule "service-lbx"]
	path = service-lbx
	url = https://github.com/paperworkco/service-lbx.git
[submodule "service-kong"]
	path = service-kong
	url = https://github.com/paperworkco/service-kong.git
